@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="da">
<head>
    <meta charset="utf-8 />
    <title>gasolina ragnerok</title>
</head>
<div class="text-center">
    <h1 class="display-7">Velkommen til Gasolin's hjemmeside'
    </h1>
    <p>Learn about <a href="https://da.wikipedia.org/wiki/Kim_Larsen">kim larsen</a>.</p>
</div>
